<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <script src="js/app.js" defer></script>
    <title>Email Sender</title>
</head>
<body>
    <h1>Email Sender</h1>
    <button id="sendBtn">Send to Default Recipient</button>
    <div id="display"></div>

    <!-- <video width="640" height="360" controls>
        <source src="https://youtu.be/Yjrfm_oRO0w" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->

    <!-- <iframe width="727" height="409" src="https://www.youtube.com/embed/Yjrfm_oRO0w" title="Diffie Hellman -the Mathematics bit- Computerphile" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <img src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000" alt=""> -->
</body>
</html>